.idea
.cache_port
tags
cscope.out
src/*.o
client/*.o
server/*.o
src/a.out
client/client
client/sftt
server/server
server/sfttd
tools/mp_stat
test/a.out
test/bin/*
debug/*
logs/*
lib/*
xdr/gen_serialize
xdr/gen_trans
config/gen_config
tool/add_copyright
test/nohup.out
